aboutme/.DS_Store
aboutme/.DS_Store
img/.DS_Store
img/Github/.DS_Store
img/Github/GitHub-Logos/.DS_Store
img/Github/GitHub-Mark/.DS_Store
img/Github/Octocat/.DS_Store
img/Twitter/.DS_Store
img/Twitter/twitter-logo-01282021/.DS_Store
img/Twitter/twitter-logo-01282021/Twitter logo/.DS_Store
img/Twitter/twitter-logo-01282021/Twitter logo/EPS/.DS_Store
img/Twitter/twitter-logo-01282021/Twitter logo/PNG/.DS_Store
img/Twitter/twitter-logo-01282021/Twitter logo/PSD/.DS_Store
img/Twitter/twitter-logo-01282021/Twitter logo/SVG/.DS_Store
img/Twitter/twitter-logo-01282021/Twitter social icons/.DS_Store
img/Twitter/twitter-logo-01282021/Twitter social icons/Twitter social icons - circle/.DS_Store
img/Twitter/twitter-logo-01282021/Twitter social icons/Twitter social icons - rounded square/.DS_Store
img/Twitter/twitter-logo-01282021/Twitter social icons/Twitter social icons - square/.DS_Store
.DS_Store
aboutme/coverletter-CIMS-Global.pdf
aboutme/resume/sections/Tmp/*
aboutme/resume/Tmp/*
.DS_Store
.stfolder/
